:root {
    --md-primary-fg-color: #1F33FAff;    
}

:root,
[data-md-color-scheme=default] {
    --md-primary-fg-color: #1F33FAff;
    --md-primary-fg-color--light: #1F33FAff;
    --md-primary-fg-color--dark: #F9C832;
}

:root,
[data-md-color-scheme=slate] {
    --md-primary-fg-color: #F9C832;
    --md-primary-fg-color--light: #1F33FAff;
    --md-primary-fg-color--dark: #F9C832;
}

@media screen and (min-width: 125em) {
    html {
        font-size: 140%;
    }
}

.md-typeset h1 {
    font-size: 1.6em;
}

.md-typeset h2 {
    font-size: 1.3em;
}

p,
ul,
ol,
div,
blockquote {
    font-size: 0.95em;
}

span .nodeLabel {
    font-size: 0.2em;
}

.md-header {
    background-color: #1F33FAff !important;
}
.highlight {
    letter-spacing: 1.5px;
    color: var(--md-primary-fg-color);
}
.md-typeset mark {
    background-color:#ffff0080 !important;
}